.tool_bar i{
	margin: 0 10px;
}
.tool_tip{
	background: #fab;
	margin: 10px;
	position: absolute;
}

textarea{
	outline:none;
	border:none;
	resize:none;
	overflow: hidden;
	width:100%;
}

textarea,input,p,span{
	font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑";
}

.quote{
	/*border: 1px dashed #581515;*/
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 18px;
    border-left: 5px solid #eeeeee;
}

blockquote textarea{
	margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.5px;
    height:22.5px;
}